## python basics

here are some basic python operations

In [1]:
2 == 3

False

In [2]:
xx = 2

In [3]:
2 == xx

True

In [4]:
x = 5
y = "my string"

In [5]:
x + 4

9

In [6]:
y + 4

TypeError: can only concatenate str (not "int") to str

In [7]:
z = "4"

In [8]:
y + z

'my string4'

In [9]:
type(x)

int

In [10]:
type(y)

str

In [11]:
zz = 5.1

In [12]:
type(zz)

float

In [13]:
x + zz

10.1

In [14]:
jabber = "twas brillig and..."

In [16]:
jabber.title()

'Twas Brillig And...'

In [18]:
?jabber.capitalize

In [19]:
?jabber.title

In [20]:
dd = "8153;Cetartiodactyla;Balaenidae;Eubalaena;Eubalaena australis;22999999.91;PanTHERIA;25550;AnAge;22447.5;3102.5;PanTHERIA;9612.275;9855;GMA"

In [21]:
dd

'8153;Cetartiodactyla;Balaenidae;Eubalaena;Eubalaena australis;22999999.91;PanTHERIA;25550;AnAge;22447.5;3102.5;PanTHERIA;9612.275;9855;GMA'

In [22]:
dd.split()

['8153;Cetartiodactyla;Balaenidae;Eubalaena;Eubalaena',
 'australis;22999999.91;PanTHERIA;25550;AnAge;22447.5;3102.5;PanTHERIA;9612.275;9855;GMA']

In [23]:
dd.split(";")

['8153',
 'Cetartiodactyla',
 'Balaenidae',
 'Eubalaena',
 'Eubalaena australis',
 '22999999.91',
 'PanTHERIA',
 '25550',
 'AnAge',
 '22447.5',
 '3102.5',
 'PanTHERIA',
 '9612.275',
 '9855',
 'GMA']

In [24]:
y

'my string'

In [25]:
x

5

In [26]:
mylist = [x, y]

In [27]:
type(mylist)

list

In [28]:
ss = "WHEN on board H.M.S Beagle, as naturalist"

In [29]:
ss.count("b")

1

In [30]:
tt = ss.lower()

In [31]:
tt

'when on board h.m.s beagle, as naturalist'

In [32]:
tt.count("b")

2

In [34]:
ss.lower().count("b") + 5

7

In [44]:
## dictionary example

data = {"1":[69, 400], "2":[70, 399]}

In [45]:
type(data)

dict

In [46]:
data.keys()

dict_keys(['1', '2'])

In [43]:
data["1"]

'dog'

In [54]:
for kk in data.keys():
    bottom_and_top = data[kk]
    print(bottom_and_top)
    bb = bottom_and_top[0]
    tt = bottom_and_top[1]
    height = tt-bb
    print("height :", height)

[69, 400]
height : 331
[70, 399]
height : 329

In [56]:

leads = []
for ii in range(64):
    keyname = (ii +1)
    leads.append(keyname)

In [57]:
leads

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64]